<!doctype html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photo/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jss/script.js') }}"></script>
    <title>Upload new File</title>
</head>

<body>

    <div class="container fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Myth Photo Uploader</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home.home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.admin_users') }}">Show Users</a>
                    </li>
                </ul>
            </div>
            <a class="nav-item mr-3 nav-link p-3" href="{{ url_for('user.logout') }}" style="background-color: #e85c29">Logout</a>
        </nav>

        <div class="row">
          <hr/>
          <div class="col-12" style="margin-top: 100px">
                <div class="overlay"><img src="blah" id="top" hidden=True>
                    <span id="close" hidden=True onclick=do_close()><b><u>CLOSE(X)</u></b></span>
                </div>
                <div class="cx" style="background-color:#fff;">
                {% for item in user_photos %}
                      <img src="{{url_for('static', filename=item.filename)}}" height=200 width=200 onclick="clicked_img(this)" >
                {% endfor %}

                              <p class="fw-bold">
                                    {% if user_photos|length == 0 %}
                                        No image found for this user
                                    {% endif %}

                                </p>

                </div>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>